In [24]:
# Importing required framework libraries for ploting
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats #for qq plots

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

#Train-Test split
from sklearn.model_selection import train_test_split

#Pickel to save the features
import pickle

In [25]:
# Read the Data
df = pd.read_csv('..\\..\\data\\fakeNews.csv')
print(">>Shape of Original Data: ",df.shape)
df.head(5)

>>Shape of Original Data:  (20800, 5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [26]:
# to eliminate null labled values and text
df = df[df['label'].notnull()] #1 means positive 0 means negative
# also restrict the unique values in the label column to the wanted type like [0,1] or [0,1,2]
df.shape

(20800, 5)

In [27]:
# to reduce size and reduce computation power
df = df.sample(frac=0.35,random_state=200)
df.shape

(7280, 5)

In [28]:
df.isnull().sum()

id          0
title     188
author    657
text        9
label       0
dtype: int64

# Train Test split  
use stratify and shuffel for preserving and proper distribution of data

In [29]:
# Train Test split of Data for generalised error with stratify and shuffel to maintain the distribution quality
X, X_test, y, y_test = train_test_split(df.drop('label', axis=1), df['label'],
                                        random_state=0,  test_size=0.2,
                                        shuffle=True)

In [30]:
# End of Session Datacheck
print(X.shape)
print(y.shape)
print(X_test.shape)
print(y_test.shape)

(5824, 4)
(5824,)
(1456, 4)
(1456,)

In [31]:

#Check for null values in the Train and Test Data
print("Null values in the Training feature: ")
display(pd.DataFrame(X).isnull().sum())
print("Null values in the Test feature: ")
display(pd.DataFrame(X_test).isnull().sum())

#Check for null values in the Target
print("Null values in the Training feature: ")
display(y.isnull().sum())
print("Null values in the Test feature: ")
display(y_test.isnull().sum())

Null values in the Training feature:

id          0
title     146
author    525
text        7
dtype: int64

Null values in the Test feature:

id          0
title      42
author    132
text        2
dtype: int64

Null values in the Training feature:

0

Null values in the Test feature:

0

In [32]:
# Check the Preprocessed column values in the training and testing feature DataSet
print(">>Number of Unique values in the Training feature Data: ",y.nunique())
#print("Unique values in the Training feature Data: ",y.unique())
print(">>Number of Unique values in the Testing feature Data: ",y_test.nunique())
#print("Unique values in the Testing feature Data: ",y_test.unique())

>>Number of Unique values in the Training feature Data:  2
>>Number of Unique values in the Testing feature Data:  2

In [33]:
print(">>Training Lable datatype: ",y.dtype)
print("Unique values in Training Lable",y.unique())
print(">>Traing Lable datatype: ",y_test.dtype)
print("Unique values in testing Lable",y_test.unique())

>>Training Lable datatype:  int64
Unique values in Training Lable [0 1]
>>Traing Lable datatype:  int64
Unique values in testing Lable [1 0]

# Study of columns

In [34]:
X.describe()

                 id
count   5824.000000
mean   10460.837740
std     5985.871108
min        6.000000
25%     5289.500000
50%    10469.500000
75%    15669.500000
max    20798.000000

In [35]:
y.describe()

count    5824.000000
mean        0.488839
std         0.499918
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: label, dtype: float64

# Saving the features Using Pickel

In [36]:
trainFeatures_list = [X, y]
testFeatures_list = [X_test, y_test]

import pathlib
path_to_write_output=str(pathlib.Path.cwd()) #Path of current working Directory
with open(path_to_write_output + '\\trainFeatures_list.pkl', 'wb') as handle:
    pickle.dump(trainFeatures_list, handle)
    
with open(path_to_write_output + '\\testFeatures_list.pkl', 'wb') as handle:
    pickle.dump(testFeatures_list, handle)

# Study Outcome  
No need to lable encode the target column  
drop null Text rows  
drop duplicates to avoid overfiting  
drop id, author, title to avoid execessive computation  
Preprocess the Text column for only gathering alphabets, convertion to lower case, eliminate stopwords