In [12]:
import pandas as pd

In [13]:
flowers = pd.DataFrame({
    'color' : ['red', 'green', 'red', 'green', 'red', 'green', 'red', 'green', 'blue', 'blue'],
    'height': [4,9,4,8,4,7,4,7.5,20,19],
    'petals': [3,9,1,8,1,10,2,8,50,47],
    'days'  : [6,16,7,15,8,17,5,12,40,45]
})
flowers

   color  height  petals  days
0    red     4.0       3     6
1  green     9.0       9    16
2    red     4.0       1     7
3  green     8.0       8    15
4    red     4.0       1     8
5  green     7.0      10    17
6    red     4.0       2     5
7  green     7.5       8    12
8   blue    20.0      50    40
9   blue    19.0      47    45

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(flowers.drop('days', axis=1), flowers['days'],
                                                    test_size=.2, random_state=40)

In [16]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [18]:
X_train[['color']]

   color
8   blue
1  green
2    red
9   blue
0    red
5  green
7  green
6    red

In [19]:
ohe.fit(X_train[['color']])

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [20]:
ohe.transform(X_train[['color']])

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [21]:
ohe.get_feature_names()

array(['x0_blue', 'x0_green', 'x0_red'], dtype=object)

In [22]:
pd.DataFrame(ohe.transform(X_train[['color']]), columns=ohe.get_feature_names())

   x0_blue  x0_green  x0_red
0      1.0       0.0     0.0
1      0.0       1.0     0.0
2      0.0       0.0     1.0
3      1.0       0.0     0.0
4      0.0       0.0     1.0
5      0.0       1.0     0.0
6      0.0       1.0     0.0
7      0.0       0.0     1.0

In [23]:
# One Hot Encd=oding for multiple Columns
# o2 = OneHotEncoder(sparse=False, handle_unknown='ignore')
# o2.fit(X_train[[' workclass', ' occupation']])
# pd.DataFrame(o2.transform(X_train[[' workclass', ' occupation']]), columns=o2.get_feature_names())